<!--
  Generated template for the Gallery component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="navButtons">
<!--  <ion-card id="cardA">
<gallery-card></gallery-card>
</ion-card>
<ion-card id="cardB">
<gallery-card></gallery-card>
</ion-card>-->
<gallery-card></gallery-card>
<button class="nav" ion-button (click) = "goLeft()"><</button>
<span [innerHTML]="picNum"></span>
<button class="nav" ion-button (click) = "goRight()">></button>
</div>